   .plus {
                position:relative;
                top: 20%;
                left: 20%;
                border: 1px dotted white;
                width: 3px;
                height: 3px;
                background-color: black;
                box-sizing: border-box;
                transform: scale(11);
        }

