html {
  touch-action: manipulation; /* Disable double tap zoom on touch devices to allow fast touch actions on the gamepad */
}

body { 
  width: 100%;
  height: 100%;
  margin: 0;
}

canvas {
  height: 80%;
  width: 80%;
  border: 6px solid #029;
}

